#app {
    text-align: center;
    font-family: sans-serif;
}

.app-status {
    margin: 2rem;
    color: #666;
}

@keyframes pulse {
    from {
        border-bottom: 4px solid #00afff;
    }

    to {
        border-bottom: 4px solid #fff;
    }
}

.pulse {
    animation: pulse 2s ease;
}

.stations {
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    max-width: 320px;
}

.station {
    margin-bottom: 1rem;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 32px;
}

.station .status {
    display: flex;
}

.station .status span {
    flex: 1 0 50%;
}

.station h2 {
    margin: 0 0 1.5rem;
    font-size: 20px;
    font-weight: normal;
}
